<%- include('./partials/blogHeader') %>
    <div class="white center mt" style="height: 60vh;">
        <a href="/blog" class="btn blue"><i class="Medium material-icons">chevron_left</i></a>
        <h2>Something went wrong</h2>
        <%= error %>

    </div>
    <%- include('./partials/footer') %>