<%- include('partials/header') %>
<header class="header">
  <nav class="nav-wrapper transparent">
    <div class="container">
      <ul class="right">
        <li><a href="/blog" class="blue-text">Blog</a></li>
        <li><a href="/hng/resume" class="blue-text">Resume</a></li>
        <li>
          <a
            href="https://www.linkedin.com/in/tolufolorunso/"
            class="tooltipped btn-floating btn-small linkedin blue"
            data-tooltip="Connect on LinkedIn"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a
            href="https://web.facebook.com/Tolu4you"
            class="tooltipped btn-floating btn-small facebook blue"
            data-tooltip="Connect on Fcebook"
            target="_blank"
          >
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/developer_tolu"
            class="tooltipped btn-floating btn-small twitter blue"
            data-tooltip="Connect on Twitter"
            target="_blank"
          >
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/Tolufolorunso"
            class="tooltipped btn-floating btn-small twitter blue"
            data-tooltip="connect on Github"
            target="_blank"
          >
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="header__my-intro">
    <h1 class="flow-text animate__animated animate__jackInTheBox">
      Hi, my name is
      <span class="blue-text animate__animated animate__lightSpeedInRight">Tolulope Folorunso</span> <br />
      I'm the unknown Web Developer
    </h1>
    <p>
      <a href="#about-me" class="btn blue mt-s">Know More</a>
    </p>
  </div>
</header>
<!-- About Me Section -->
<section class="section about-me blue scrollspy" id="about-me">
  <div class="container">
    <h2 class="center white-text about-me__h2">ABOUT ME</h2>
    <div class="row">
      <div class="col s12 m6 l4 about-me__img--container">
        <img src="images/tolulope.jpg" alt="Tolulope folorunso" class="responsive-img about-me__img" />
      </div>
      <div class="col s12 m6 l7 offset-l1 white-text">
        <p>
          I am Folorunso Tolulope, the CEO of Tsquare Media. I graduated from University Of Ado Ekiti, Ekiti
          State, Nigeria. I studied Economics.
        </p>
        <p>I was trained as front-end developer by Microsoft and Google.</p>
        <p>
          Front-End Developer and UX/Ui designer, with practical experience in project management, branding
          strategy, and creative direction; devoted to functional programming and information architecture.
        </p>
        <a
          href="https://drive.google.com/file/d/1nVQtVtOBd7c_NcZEFPzKpwxaDZU1GCnJ/view?usp=sharing"
          target="_blank"
          class="tooltipped btn view-resume pulse"
          data-tooltip="Download CV"
          >View Resume</a
        >
      </div>
    </div>
  </div>
</section>

<!-- Projects Section -->
<section class="section">
  <div class="container">
    <h2 class="center blue-text mb projects">Projects</h2>
    <div class="row">
      <div class="col s12 m5 l5">
        <h3 class="mb-s">Photo Ninja</h3>
        <p>Beautifully designed Photo Ninja project</p>
        <a href="https://tolufolorunso.github.io/photoNinja/" class="btn blue mt-s" target="_blank"
          >See Live</a
        >
        <a href="https://github.com/Tolufolorunso/photoNinja" class="btn-flat blue-text mt-s" target="_blank"
          >Source Code</a
        >
      </div>
      <div class="col s12 m6 l6 offset-l1">
        <img src="images/photoninja.png" alt="" class="responsive-img about-me__img materialboxed" />
      </div>
    </div>
    <div class="row mt">
      <div class="col s12 m5 l5">
        <h3 class="mb-s">Tutor-me Api</h3>
        <p>This App was built for Startng</p>
        <p>This is node.js API. It's hosted on heroku server.</p>
        <a href="https://tutor-me-app.herokuapp.com/" class="btn blue mt-s" target="_blank">See Live</a>
        <a href="https://github.com/Tolufolorunso/tutor-me" class="btn-flat blue-text mt-s" target="_blank"
          >Source Code</a
        >
      </div>
      <div class="col s12 m6 l6 offset-l1">
        <img src="images/apitutor.png" alt="" class="responsive-img about-me__img materialboxed" />
      </div>
    </div>
    <div class="row mt">
      <div class="col s12 m5 l5">
        <h3 class="mb-s">Frogger</h3>
        <p>I was asked to build this arcade game with the HTML, CSS and JavaScript.</p>
        <a href="https://tolufolorunso.github.io/arcadeGame/" class="btn blue mt-s" target="_blank"
          >See Live</a
        >
        <a href="https://github.com/Tolufolorunso/arcadeGame" class="btn-flat blue-text mt-s" target="_blank"
          >Source Code</a
        >
      </div>
      <div class="col s12 m6 l6 offset-l1 valign-wrapper">
        <img src="images/frogger.png" alt="" class="responsive-img about-me__img materialboxed" />
      </div>
    </div>
  </div>
</section>

<!-- Parallax -->
<div class="parallax-container">
  <div class="parallax">
    <img src="images/codeweb.jpg" alt="" class="responsive-img" />
  </div>
</div>

<!-- Contact  -->
<section class="section container scrollspy mt" id="contact">
  <div class="row">
    <div class="col s12 l5">
      <h3 class="blue-text text-darken-4">Get in Touch</h3>
      <p>I am experienced JavaScript Developer.</p>
      <br />
      <h4 class="blue-text text-darken-4">Skilled in:</h4>
      <p>
        HTML5, CSS3, JavaScript,Node.Js React,Mongodb,Postgress, Bootstrap4, Foundation, Materialize, SASS,
        Git, Photography and many more. Strong information technology professional with a Fullstack Web
        Development Certification from Google Udacity Nanodegree program.
      </p>
    </div>
    <div class="col s12 l5 offset-l2">
      <form action="" id="form">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input type="email" id="email" required />
          <label for="email">email</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">message</i>
          <textarea id="message" class="materialize-textarea" required></textarea>
          <label for="message">Your Message</label>
        </div>
        <!-- <div class="input-field">
                    <input type="text" class="datepicker" id="date">
                    <label for="date">Choose a date you need me for...</label>
                </div> -->
        <div class="input-field" id="services">
          <p>Services required...</p>
          <p>
            <label>
              <input type="checkbox" id="webDesign" name="pl" value="Web Design" />
              <span>Web Design</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" id="webDevelopment" name="pl" value="Web Development" />
              <span>Web Development</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" id="api" name="pl" value="Node.Js API Development" />
              <span>Node.Js API Development</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" id="photography" name="pl" value="Photography" />
              <span>Photography</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" id="personal" name="pl" value="personal" />
              <span>Personal</span>
            </label>
          </p>
        </div>
        <div id="msg"></div>
        <div class="input-field">
          <button class="btn blue" type="submit" id="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div
    class="LI-profile-badge"
    data-version="v1"
    data-size="large"
    data-locale="en_US"
    data-type="vertical"
    data-theme="dark"
    data-vanity="tolufolorunso"
  >
    <a class="LI-simple-link" href="https://ng.linkedin.com/in/tolufolorunso?trk=profile-badge"
      >Tolulope Folorunso</a
    >
  </div>
</section>
<!-- <section class="linkedin">
        <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="tolufolorunso">
            <a class="LI-simple-link" href='https://ng.linkedin.com/in/tolufolorunso?trk=profile-badge'>Tolulope Folorunso</a>
        </div>
    </section> -->
<%- include('partials/footer') %>
